.musicTab{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    position: relative;
}
.player{
    music-player-panel-height: 80px;
}