.usual {
    margin: 3px;
}

.selectedPage {
    margin: 3px;
    font-weight: bold;
}

.button{
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.paginatorField{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.9;
    margin-top: 1%;
    margin-bottom: 1%;
}
.numbers{
    min-width: 360px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
