* {
    margin: 0;
    padding: 0;
}
.usual {
    margin: 3px;
    cursor: pointer;
}

.selectedPage {
    margin: 3px;
    font-weight: bold;
    color: orange;
    cursor: pointer;
}

.button {
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}
.button:disabled {
     cursor: default;
 }

.button svg{
    height: 20px;
    width: 20px;
}
.paginatorField{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.9;
}
.numbers{
    min-width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
