.usersTab{
    height: 100%;
    position: relative;
}
.paginator{
    height: 40px;
    width: 100%;
    text-align: center;
}
.usersFiled{
    height: 93%;
    display: flex;
    justify-content: center;
}