.postsBlock {
    padding: 10px;
    width: 75%;
    margin: 0 auto;
}
.postsTitle{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.input{
    width: 300px;
    height: 45px;
    border-radius: 7px;
    padding: 5px;
    margin: 0 auto;
    resize: none;
    outline: none;
}
.inputAndButtonField{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.addPostButton{
    margin-left: 4px;
    width: 55px;
    height: 45px;
    border: 1px solid white;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}
.posts {
    margin-top: 10px;
}
.inputField{
    position: relative;
}
.inputError{
    position: absolute;
    left:0;
    right: 0;
    text-align: center;
    top: 42px;
    color: red;
}
.backgoundForModalWindow{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: black;
    opacity: 0.4;
}
.modalWindowField{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalWindow{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 150px;
    border-radius: 7px;
    box-shadow: 0 0 3px white;
}
.confirmField{
    font-size: 30px;
    font-weight: bold;
}
.confirmButton{
    width: 90px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    box-shadow: 0 0 3px black;
    cursor: pointer;
}