.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    /*padding: 5px 0;*/
    /*border: 2px solid red;*/
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.formSummaryError span {
    /*padding: 5px;*/
    color: red;
    font-weight: bold;
}