.audioPlayer {
    width: 300px;
    border-radius: 20px;
    padding: 24px;
    text-align: center;
    margin-top: 15px;
    background-image: linear-gradient(to bottom right, #8fe30b, rgba(236, 236, 10, 0.87));
    /*background-color: #bee581;*/
    box-shadow: 0 0 15px black;
}
.trackCover {
    border-radius: 120px;
    display: block;
    height: 120px;
    width: 120px;
    margin: auto auto 15px;
}
.title {
    font-weight: 700;
    margin-bottom: 4px;
}
.artist {
    font-weight: 300;
    margin-bottom: 15px;
}
.progressAndVolumeField{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.volumeIcon{
    color: white;
    margin-bottom: 1px;
    cursor: pointer;
}
.volumeIconDisabled{
    cursor: default;
}
.progress{
    height: 6px;
    -webkit-appearance: none;
    width: 220px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: default;
    margin-bottom: 12px;
}
.progress::-webkit-slider-thumb{
    opacity:0;
}