.audioPlayerAndTracksField{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.audioPlayer {
    width: 300px;
    border-radius: 20px;
    padding: 24px;
    text-align: center;
    margin-top: 15px;
    background-image: linear-gradient(to bottom right, #8fe30b, rgba(236, 236, 10, 0.87));
    box-shadow: 0 0 10px green;
}
.trackCover {
    border-radius: 120px;
    display: block;
    height: 120px;
    width: 120px;
    margin: auto auto 15px;
}
.title {
    font-weight: 700;
    margin-bottom: 4px;
}
.artist {
    font-weight: 300;
    margin-bottom: 15px;
}
.progressAndVolumeField{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -8px;
}
.volumeField{
    position: relative;
    width: 20px;
    text-align: left;
}
.volumeIcon{
    color: white;
    margin-bottom: 1px;
    cursor: pointer;
}
.volumeIconDisabled{
    cursor: default;
    opacity: 0.7;
}
.volumeInput{
    position: absolute;
    height: 8px;
    width: 100px;
    -webkit-appearance: none;
    border-radius: 8px;
    transition: background 0.2s ease;
    top:-55px;
    left: -40px;
    transform: rotate(270deg);
    outline: none;
}
.progress{
    height: 6px;
    -webkit-appearance: none;
    width: 220px;
    border-radius: 8px;
    transition: background 0.2s ease;
    cursor: default;
    margin-bottom: 12px;
}
.volumeInput::-webkit-slider-thumb,
.progress::-webkit-slider-thumb{
    opacity:0;
}
.trackListField{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 50px;
}