.nav {
    grid-area: n;
    background-color: #009900;
    padding: 20px;
    margin: 1px;
    border-radius: 5px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}
