.item {
    color: black;
    margin-bottom: 15px;
    font-weight: bold;
}

.item .messageBlock {
    display: flex;
    align-items: center;
}

.item .messageBlock span {
    margin-left: 5px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.likes {
    color: black;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    cursor: pointer;
    width: 40px;
}
.likesActive{
    color: #b93e3e;
}
.likeNumber{
    width: 15px;
}
.likes img{
    margin: 2px;
    width: 20px;
    height: 20px;
}
.delete{
    margin-top: 3px;
    margin-left: 10px;
    width: 20px;
    cursor: pointer;
}