.item {
    color: greenyellow;
    margin-bottom: 15px;
}

.item .messageBlock {
    display: flex;
    align-items: center;
}

.item .messageBlock span {
    margin-left: 5px;
}

.item img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.likes {
    color: lavender;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.likes img{
    margin-top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}