.common{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}
.common h1{
    margin-bottom: 40px;
}
.input{
    height: 50px;
    width: 300px;
    margin: 5px 0;
    font-size: 16px;
    padding-left: 5px;
    border: 1.5px solid;
    border-radius: 7px;
}
.checkboxField{
    display: flex;
    margin: 5px 0;
    font-size: 18px;
}
.checkbox{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 3px;
}
.form {
    position: relative;
}
.form button {
    width: 40%;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: teal;
    border: 2px solid powderblue;
    border-radius: 10px;
    margin-left: 33%;
    color: white;
}
.bottom{
    margin-top: 27%;
    font-style: italic;
}
.mail{
    text-decoration: underline;
}
.formSummaryError span {
    color: red;
    font-weight: bold;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    text-align: center;
}