.app-wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 1200px;
    min-height: 96vh;
    background-color: powderblue;
    padding: 1px;
    border-radius: 5px;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}
.withoutNavbar {
    grid-template-areas:
    "h h"
    "c c";
}

.app-wrapper-content {
    grid-area: c;
    background-color: lightgray;
    margin: 1px;
    border-radius: 5px;
}
.preloader{
    position: relative;
}