.dialogs {
    display: flex;
    min-height: 100%;
    width: 100%;
}

.dialogsItems {
    padding: 15px 10px 10px 15px;
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.line{
    border-right: 1px solid darkslategrey;
}
.messagesField {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 75%;
}
.messages{
    padding: 10px 30px 10px 21px;
}


.answerField {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.inputField {
    width: 400px;
    height: 42px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
    outline: none;
    resize: none;
}

.sendMessage {
    height: 42px;
    margin-left: 4px;
    padding: 10px;
    border: 1px solid white;
    font-weight: bold;
    background-color: #EFEFEF;
    border-radius: 10px;
}
.companion{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}
.companion img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-right: 10px;
}
.textareaFiled{
    position: relative;
    display: flex;
}
.error{
    position: absolute;
    top:-23px;
    left:0;
    right:0;
    text-align: center;
    color: red;
}
.messagesFiller{
    text-align: center;
    font-size: 20px;
    /*font-weight: bold;*/
    margin-top: 150px;
}