.dialogs {
    display: flex;
    min-height: 100%;
    width: 100%;
}

.dialogsItems {
    padding: 15px 10px 10px 15px;
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.line{
    border-right: 1px solid darkslategrey;
}



.messagesField {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 75%;
}
.messages{
    /*border: 1px solid green;*/
    padding: 10px 30px 10px 21px;
}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.me {
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}

.you {
    color: black;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.answerField {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.inputField {
    width: 400px;
    height: 42px;
    margin-top: 4px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
    outline: none;
    resize: none;
}

.sendMessage {
    height: 42px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid white;
    font-weight: bold;
    background-color: #EFEFEF;
    border-radius: 10px;
}
.companion{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}
.companion img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-right: 10px;
}