.audioControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  75%;
    margin: 0 auto 15px;
}

.prev,
.next{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    /*background-color: transparent;*/
    /*box-shadow: 0 0 5px black;*/
}

.play,
.pause{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    /*background-color: transparent;*/
    /*box-shadow: 0 0 5px black;*/
}
.play svg,
.pause svg{
    height: 30px;
    width: 30px;

}